@font-face {
  src: url("/fonts/Cyberthrone.ttf");
  font-family: 'Cyberthone';
}

@font-face {
  src: url("/fonts/Favorit_Regular.otf");
  font-family: 'Favorit_Regular';
}

@font-face {
  src: url("/fonts/TT.otf");
  font-family: 'TT';
}

body {
  font-family: 'Favorit_Regular', sans-serif;
}